@import url('fonts/Minimum-ANoir/minimum-anoir.css');
@import url('fonts/DIN-Medium/din-medium.css');
@import url('bootstrap/3.2.0/css/glyphicons.css');
@import url('icheck/skins/minimal/blue.css');

body{
	margin: 0px;
	padding:0px;
	overflow: hidden;
	background-color: #9C9C9C;
	font-family: 'MinimumANoir';
	font-size:18px;
}
#ui{
	position:fixed;
	top:0;
	left:0;	
	/*visibility: hidden;*/
}

#main-nav{
	height:140px;
	line-height: 140px;
}

.navbar{
	border : none;
	background-color: white;
}
.navbar-brand{
	color:#42ABED !important;
		
}
.navbar-default{
	font-size: 18px;
	/*letter-spacing: 12px;*/
}
.navbar-nav{
   /* line-height: 140px;*/
   margin-top: 45px; /*140/2 - 25*/
}

.navbar-default .navbar-brand{
	color:#42ABED;
	font-size:90px;	
	margin-right: 120px;
	margin-top: 40px
	
}
.navbar-default .navbar-brand img{
	margin-top: -10px;	
}
.navbar-default .navbar-nav li{
	margin-right:20px;	
}

.navbar-default .navbar-nav li a{
   color: #42ABED;
   background-color: white;
   border: 2px solid #42ABED;
}
.navbar-default .navbar-nav li a:hover{
	color:#42ABED;
}
.navbar-default .navbar-nav li a:active{
	color: white;
    background-color: #42ABED ;	
}
/* dropdowns */
/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus , .navbar-default .navbar-nav>.open>a:hover ,.navbar-default .navbar-nav>.open>a:active{
   color: white;
   background-color: #42ABED ;
}*/
.active{
   color: white !important;
   background-color: #42ABED !important;	
}
.menu-icon{
	font-size: 22px;
	margin-right: 20px;
}
.menu-title{
	font-size: 28px;
}
.dropdown-menu{
	background-color: transparent;	
}

/* panels */
#panel-primary{
	position:absolute;
	top:100px;
	left:100px;	
}

.panel-custom{
	width:460px;
	border-width: 0;
	border-radius: 0;
}
.panel-custom .panel-heading {
	background-color: white;
	border-radius:0;
}
.panel-title{
	font-size: 32px;
	/*font-weight: bold;*/	
}
.panel-title-text-container{
	padding-top: 30px;
}
.panel-title-text{
	color:white;
	background-color: black;	
	margin-top:30px;
	padding:5px;
}
.panel-custom .panel-body {
}
.panel-custom .panel-body h1{
	font-size: 30px;
	font-weight:normal;
	color:white;
	background-color: #42ABED;
	padding: 5px 10px;
	margin-top:5px;
}
.panel-custom .panel-body .blue-section{
	color:white;
	background-color: #42ABED;
	padding: 5px 10px;
	margin-top:5px;
}
.panel-custom .btn-default{
	border:none;
	/*border-radius: 0;	*/
}
.panel-custom .btn-default:hover, .panel-custom .btn-default:active{
	background-color:#42ABED;
}
.panel-custom .btn-default:focus{
	background-color:white;	
	color:black;
}

/* checkboxes */

.cb-label{
	margin-left:5px;	
}

/* thumb grid */

.thumb-grid {
  background: #eee;
  padding-top:5px;
  max-height: 300px;
  overflow-y: scroll;
}
/* clearfix */
.thumb-grid:before,
.thumb-grid:after {
    content: "";
    display: table;
}
.thumb-grid:after {
    clear: both;
}

.thumb-grid .item {
  float: left;
  margin-bottom: 10px; 
}
.thumb-grid .item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.thumb-grid .first-item {
  clear: both;
}
/* remove margin bottom on last row */
.thumb-grid .last-row, .last-row ~ .item {
  margin-bottom: 0;
}

/* model controls */

#model-controls{
	position: fixed;
	top:20px;
	right:20px;	
}
